<!DOCTYPE html>
<html lang="en" ng-app="amazon">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap模板</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/docs.css">
    <link rel="stylesheet" href="css/header&footer.css">
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-route.js"></script>
</head>
<body ng-controller="styleCtrl">
     <div class="container">
         <img src="img/location.gif" class="statePic" alt="">
         <div class="row">
             <div class="col-lg-4"><h2>选择送货方式</h2></div>
             <div class="col-lg-3 col-lg-offset-5"><a href="pay.html" class="btn btn-primary pull-right btn-block">继续</a></div>
             <hr>
         </div>
         <hr>
         <div class="row">
             <div class="row-lg-6">
                 <h3>选择配送方式</h3>
                 <div class="well">
                     <h3>免费配送</h3>
                     <p>此订单可享受亚马逊Prime免费配送：在下方选择“免费配送 (免费试享亚马逊Prime)”，点击“继续”完成Prime免费试享注册。</p>
                 </div>
                 <label><input name="style" ng-model="sel" type="radio" ng-value="0">免费配送 <p>今天 17年 3月 7日 星期二</p></label>
                 <label><input name="style" ng-model="sel" type="radio" ng-value="1">尽量一起送货上门 <p>今天 17年 3月 7日 星期二</p></label>
                 <label><input name="style" ng-model="sel" type="radio" ng-value="2">下午送货上门 <p>今天 17年 3月 7日 星期二</p></label>
                 <label><input name="style" ng-model="sel" type="radio" ng-value="3">晚间送货上门 <p>今天 17年 3月 7日 星期二</p></label>
                 <label><input name="style" ng-model="sel" type="radio" ng-value="4">预约送货上门 <p>今天 17年 3月 7日 星期二</p></label>
                 {{sel}}
             </div>
         </div>
         <hr>
         <div class="row bottom_100px">
             <div class="col-lg-3 col-lg-offset-9"><a href="pay.html" class="btn btn-primary pull-right btn-block">继续</a></div>
         </div>
     </div>
     <script>
         var app=angular.module('amazon',['ng','ngRoute','ngAnimate'])
         app.controller('styleCtrl',['$scope',function($scope){
             $scope.sel=0
             $scope.$watch('sel',function(){
                 localStorage['sendStyle']=$scope.sel
             })
         }])
     </script>
     <footer></footer>
     <script>
         $('footer').load('data/footer.php')
     </script>
     <!--<footer>-->
         <!--<div class="footer_toTop"><a href="#">返回顶部</a></div>-->
         <!--<div class="container">-->
             <!--<div class="row">-->
                 <!--<div class="col-lg-2 col-lg-offset-2">-->
                     <!--<h3>了解我们</h3>-->
                     <!--<ul>-->
                         <!--<li><a href="#">人才招聘</a></li>-->
                         <!--<li><a href="#">关于我们</a></li>-->
                         <!--<li><a href="#">新闻中心</a></li>-->
                         <!--<li><a href="#">公益社区</a></li>-->
                         <!--<li><a href="#">移动客户端</a></li>-->
                         <!--<li><a href="#">风险监测</a></li>-->
                     <!--</ul>-->
                 <!--</div>-->
                 <!--<div class="col-lg-2">-->
                     <!--<h3>合作信息</h3>-->
                     <!--<ul>-->
                         <!--<li><a href="#">全球开店</a></li>-->
                         <!--<li><a href="#">我要开店</a></li>-->
                         <!--<li><a href="#">亚马逊物流</a></li>-->
                         <!--<li><a href="#">加入联盟</a></li>-->
                         <!--<li><a href="#">我要推广</a></li>-->
                         <!--<li><a href="#">合作伙伴</a></li>-->
                     <!--</ul>-->
                 <!--</div>-->
                 <!--<div class="col-lg-2">-->
                     <!--<h3>支付方式</h3>-->
                     <!--<ul>-->
                         <!--<li><a href="#">亚马逊支付</a></li>-->
                         <!--<li><a href="#">亚马逊账户</a></li>-->
                         <!--<li><a href="#">货到付款</a></li>-->
                         <!--<li><a href="#">支付宝与财付通</a></li>-->
                         <!--<li><a href="#">网上银行</a></li>-->
                     <!--</ul>-->
                 <!--</div>-->
                 <!--<div class="col-lg-2">-->
                     <!--<h3>帮助和购物指南</h3>-->
                     <!--<ul>-->
                         <!--<li><a href="#">订单查询</a></li>-->
                         <!--<li><a href="#">配送费收取标准</a></li>-->
                         <!--<li><a href="#">在线自助退换货</a></li>-->
                         <!--<li><a href="#">退换货政策</a></li>-->
                         <!--<li><a href="#">亚马逊助手</a></li>-->
                         <!--<li><a href="#">帮助</a></li>-->
                     <!--</ul>-->
                 <!--</div>-->
             <!--</div>-->
         <!--</div>-->
         <!--<div class="footer_end">-->
             <!--<p><img src="img/footer.gif" alt=""></p>-->
             <!--<p>美国加拿大巴西墨西哥英国德国法国西班牙意大利荷兰日本印度澳大利亚亚马逊家族网站:Amazon Web ServicesDiapers.comShopbop亚马逊物流+ YAMAXUN™</p>-->
            <!--<p>使用条件隐私声明基于兴趣的广告版权所有 © 1996-2017，亚马逊公司或其关联公司</p>-->
             <!--<p>京公网安备 11010502030232号 |电信与信息服务业务经营许可证：京ICP证010225号</p>-->
             <!--<p>互联网药品信息服务资格证书 京-非经营性-2012-0005 | 出版物经营许可证新出发京批字第直0852号 |食品经营许可证：JY11105150653271</p>-->
             <!--<p>网络文化经营许可证京网文[2015]0615-245 | 营业执照：91110105721471662U</p>-->
         <!--</div>-->
     <!--</footer>-->
</body>
</html>